---
import { languages } from '../utils/i18n';
import { defaultLang } from '../i18n/ui';

const currentLang = Astro.cookies.get('lang')?.value || defaultLang;
---

<nav class="flex gap-x-2">
  {languages.map(lang => (
    <a href={`?lang=${lang}`} class={`rounded-full px-3 py-1 transition text-base md:text-sm ${currentLang === lang ? 'bg-white/10' : 'hover:bg-white/10'}`}>
      {lang.toUpperCase()}
    </a>
  ))}
</nav>