<span
class="rounded-full bg-gray-900 border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5 hover:scale-110 hover:bg-white/90 transition"
{...Astro.props}
>
<slot/>
</span>